{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajouter Participation au Evaluation</title>
</head>
<body>

<br>
<br>
<br>

<div class="pd-20 card-box mb-30">
    <h2>Créer Participation au Evaluation</h2> <br> <br>
    <div class="clearfix">

    </div>
<form action="" method="POST" name="form" id="form">
    ID Evaluation <input class="form-control form-control-sm form-control-line" type="text" placeholder="id Evaluation" name="idE" readonly value={{ Evaluation.id }}>
    <br>
    ID Participant <select class="custom-select col-12" name="idP">
        {% for Utilisateur in classe %}
            <option value={{ Utilisateur.Id }}>{{ Utilisateur.Id }}</option>
        {% endfor %}
    </select>
    <br>
    <br>
    <br>
    <button class="btn btn-outline-primary" type="submit">Ajouter Participant</button>
</form>
</div>
</body>
</html>
{% endblock %}