{% extends 'baseFront.html.twig' %}
{% block body1 %}
    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <form enctype="multipart/form-data" id="form" role="form" action="{{ path('fajouterCv') }}" method="post">`
                    <div class="col-lg-3 col-sm-4">
                        <div class="form-group has-default">
                            <h3>Nom:<input name="nom" id="nom" type="text" class="form-control" placeholder="Nom">
                                <label id="nom_war" hidden class="font-12 " data-color="red"> ⭕️Attention: Nom Invalide!!</label>

                                Prenom: <input name="prenom" id="prenom" type="text" class="form-control" placeholder="Prenom">
                                <label id="prenom_war" hidden class="font-12 " data-color="red"> ⭕️Attention: Prenom Invalide!!</label>

                                Votre Cv:
                            </h3>
                            <div>
                            <div class="file-input">
                                <input onchange="fichier(this)" name="cvdoc" id="cvdoc" type="file"  class="file">
                                <label name="cvdoc_label" id="cvdoc_label" for="cvdoc">
                                    Select file
                                    <p class="file-name"></p>
                                </label>
                            </div>
                                <label id="cvdoc_war" hidden class="font-12 " data-color="red"> ⭕️Attention: Fichier Invalide!!</label>

                            </div>
                             </div>



                    </div>


                    <button type="button" onclick="verif()" class="btn btn-primary btn-round" >Ajouter</button>
                </form>




            </div>
        </div>
    </div>
    <!-- Classic Modal -->

{% endblock %}