{% extends'khaledbase.html.twig' %}
{% block navbar %}
{% endblock %}

{% block lwest %}
<div class="page-header header-filter" style="background-image: url('{{  asset('front/assets/img/bg2.jpg') }}'); background-size: cover; background-position: top center;">
    <div class="container">

            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <div class="card-header card-header-primary text-center">
                        <p class="label"><label for="_auth_code">Google authentification</label> </p>
                    </div>


    <img id="ImageQRCode" src="{{ qrCode }}" alt="QR Code" name="imageQRCode"/>

    <form class="form" action="/2fa_check" method="post">
        <p class="label"><label>Telecharger Google authentification en telephone et scanner le code!</label> </p>
        <p class="widget"><input id="_auth_code" type="text" autocomplete="off" name="_auth_code" /></p>
        <p class="submit"><input type="submit" value="login" class="btn btn-sucess" /></p>
        <a class="btn btn-rose" href="{{ path('logout')}}">Déconnexion</a>

    </form>

            </div>
        </div>
    </div>
</div>
{% block taswira %}
{% endblock %}


{% endblock %}
{% block footer %}{% endblock %}

